*  {
    font: helvetica;
}

.container  {
    display: inline-block;
    
    flex-direction: row;
    
}

.search  {
    padding: 20px;
    background-color: grey;
    flex: 2;
    order: 1;
    
}

h1  {
    width: 100%;
    height: 50px;
    background-color: #282828;
    color:  white;
    text-align: center;
    margin-top: 100px;
    border-radius: 3px;
    
}

.current {
    background-color: white;
    flex: 5;
    order: 2;
    padding-left: 30px;
  }
  
